
.userTable{
    width: 94%;
    margin:3% 3% 3% 3%;
}
.tableTh{
    width: 25%;
    height: 40px;
    background-color:mintcream;
    border-bottom: 1px solid #ccc;
}
.tableTd{
    width: 25%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.tableBtn{
    background-color: azure;
    width: 40%;
    font-size:12px ;
    margin-top: -15px;
    border-radius: 5px;
}
.footBtn{
    width:100%;
    height: 50px;
    text-align: center;
}
.footBtn span{
    margin-left:5px;
}
.footB{
    margin-left: 45%;
    margin-top: 30%;
}
.footB span{
    margin-left: 5px;
}
.userChangecolor{
    color: mediumseagreen;
}
.userColor{
    color: mediumseagreen;
}